<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color:gray; color: white;">
                    <h1>Login</h1>
                    <h5>Enter your organisation credentials</h5>
                </div>
                <p></p>
                <form action="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Employee Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="employee@org.com" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary text-center">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>